.box {
  height: 80px;
  width: 80%;
  border: 3px solid black;
  margin-top: 10px;

  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  margin-left: 20px;
  font-size: 3vh;
  font-weight: bold;
}

.number {
  font-size: large;
  font-size: 3vh;
  margin-left: 20px;
  font-weight: bold;
}
